<%- include('partials/header') %>



<div class="parallax">
    <div id="ideas"></div>
</div>

<div id = "program" style="font-size:20px">
    
    <div class="animation-wrapper">
        <div class="layered-animations">
          <svg class="large shape" viewBox="0 0 96 96">
            <defs>
              <linearGradient id="circleGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                <stop stop-color="#373734" offset="0%"/>
                <stop stop-color="#242423" offset="50%"/>
                <stop stop-color="#0D0D0C" offset="100%"/>
              </linearGradient>
            </defs>
            <circle cx="48" cy="48" r="28" fill-rule="evenodd" stroke-linecap="square" fill="url(#circleGradient)"/>
          </svg>
          <svg class="small shape color-red" viewBox="0 0 96 96">
            <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
          </svg>
          <svg class="large shape" viewBox="0 0 96 96">
            <defs>
              <linearGradient id="triangleGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                <stop stop-color="#373734" offset="0%"/>
                <stop stop-color="#242423" offset="50%"/>
                <stop stop-color="#0D0D0C" offset="100%"/>
              </linearGradient>
            </defs>
            <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square" fill="url(#triangleGradient)"/>
          </svg>
          <svg class="x-small shape" viewBox="0 0 96 96">
            <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
          </svg>
          <svg class="x-small shape" viewBox="0 0 96 96">
            <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square"/>
          </svg>
          <svg class="small shape color-red" viewBox="0 0 96 96">
            <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square"/>
          </svg>
          <svg class="large shape" viewBox="0 0 96 96">
            <defs>
              <linearGradient id="rectGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                <stop stop-color="#373734" offset="0%"/>
                <stop stop-color="#242423" offset="50%"/>
                <stop stop-color="#0D0D0C" offset="100%"/>
              </linearGradient>
            </defs>
            <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square" fill="url(#rectGradient)"/>
          </svg>
          <svg class="small shape color-red" viewBox="0 0 96 96">
            <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
          </svg>
          <svg class="x-small shape" viewBox="0 0 96 96">
            <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
          </svg>
        </div>
      </div>
</div>

<div class="entropy">
    <div id="entropy-header">ENTROPY</div>
    <div id="entropy-desc">Entropy initially is a scientific concept derived from thermodynamics, okay. It is basically how much uncertainty exists in this whole wide world. Uncertainty ranging from widest of variety such as if I'll pass the exam to as absurd as If this relationship works out. 
      But humans, as psychological science believes is a self organizing continuum that engage in continual dialogue with everyone around us and they must adapt to the changes and then and only then shall be the chaos that separates us will unite us.
      A scientific concept that unites psychological belief and humans.</div>
    <div id="entropy-info">
        <div>VENUE: Vellore Institute of Technology, Vellore</div>
        <div>COMING SOON!</div>
    </div>
    
</div>

<div id = "speak" class="parallax2">
    <div id="speakers">PAST SPEAKERS</div>
</div>


<div class="speaker-list">
  <div class="card-container">
    <div class="card no1">
        <div class="card-face front">
            <div class="img-container">
                <img src="/images/Speaker1.jpg" alt="" style="width: 100%; height: auto;">
            </div>
            <div class="img-desc">
                Prof. Anon
                <br>Tap to flip
            </div>
        </div> <!-- end front panel -->
        <div class="card-face back">
          <ul class="list-group list-group-flush" style= "background-color: bisque;">
            
            <li class="list-group-item">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere magnam neque id illum voluptatem voluptas quisquam hic earum, sequi eos quasi error sint quis, voluptate, sapiente a cum at delectus!
          </li>
           
          </ul>
        </div> <!-- end back panel -->
    </div> <!-- end card -->
</div> <!-- end card-container -->
    <div class="card-container">
      <div class="card" >
          <div class="card-face front">
              <div class="img-container">
                  <img src="/images/speech.jpg" alt="" style="width: 100%; height: auto;">
              </div>
              <div class="img-desc">
                  Prof. Anon
                  <br>Tap to flip
              </div>
          </div> <!-- end front panel -->
          <div class="card-face back">
            <ul class="list-group list-group-flush" style= "background-color: bisque;">
              
              <li class="list-group-item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ad possimus quibusdam voluptate accusantium? A, fuga! Odio minus consequuntur labore dolorem eos fugiat beatae dolore eius? Maxime blanditiis provident nostrum!
            </li>
             
            </ul>
          </div> <!-- end back panel -->
      </div> <!-- end card -->
  </div> <!-- end card-container -->
    <div class="card-container">
      <div class="card">
          <div class="card-face front">
              <div class="img-container">
                  <img src="/images/speech.jpg" alt="" style="width: 100%; height: auto;">
              </div>
              <div class="img-desc">
                  Prof. Anon
                  <br>Tap to flip
              </div>
          </div> <!-- end front panel -->
          <div class="card-face back">
            <ul class="list-group list-group-flush" style= "background-color: bisque;">
              
              <li class="list-group-item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt enim, iusto asperiores magnam vero dignissimos dolorum ea sint itaque odit harum obcaecati dolores quis libero doloribus ratione officiis recusandae eaque!
            </li>
             
            </ul>
          </div> <!-- end back panel -->
      </div> <!-- end card -->
  </div> <!-- end card-container -->
    <div class="card-container">
      <div class="card">
          <div class="card-face front">
              <div class="img-container">
                  <img src="/images/speech.jpg" alt="" style="width: 100%; height: auto;">
              </div>
              <div class="img-desc">
                  Prof. Anon
                  <br>Tap to flip
              </div>
          </div> <!-- end front panel -->
          <div class="card-face back">
            <ul class="list-group list-group-flush" style= "background-color: bisque;">
              
              <li class="list-group-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, excepturi commodi rerum cumque corrupti a nostrum reprehenderit quos ea! Nemo rem delectus suscipit animi tempore aperiam, vitae tempora mollitia temporibus.
            </li>
             
            </ul>
          </div> <!-- end back panel -->
      </div> <!-- end card -->
  </div> <!-- end card-container -->
</div>


<div class="session">
    SESSION SCHEDULE - WILL BE ANNOUNCED SHORTLY
</div>

<div class="inspire">
  Throughout history, when times got hard people got together. In these uncertain times let's be there for eachother more than ever.
  <div><br><a href="/team" style="color: white">Meet the team</a></div> 
</div>

  <script src="/scripts/main.js"></script>

<div class="hometed">
  <h4>What is TEDx?</h4>
In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDx[name], where x = independently organized TED event. At our TEDx[name] event, TED Talks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized. <a href="https://www.ted.com/about/programs-initiatives/tedx-program" style="color:white">Learn more.</a>
</div>

<%- include('partials/footer') %>
